<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Tech Blog</title>
 <!-- <link rel="stylesheet" href="/css/jass.css"> -->
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header>
    <nav>
      <button id="home-button">Home</button>
      <button id="dashboard-button">Dashboard</button>
      <!-- Conditionally render login or logout links -->
      {{#if logged_in}} 
      <button id="logout-button">logout</button>
      {{/if}}

      {{#unless logged_in}} <!-- if the user is not logged in render the login button -->
      <button id="login-button">login</button>
      {{/unless}}
    </nav>

    <h1>The Tech Blog</h1>
  </header>
  <main>
    <!-- Render the sub layout -->
    {{{ body }}}
  </main>

  <script src="/js/nav.js" type = "text/javascript"></script> <!-- this is the script that will handle the nav buttons -->
</body>

</html>
