<!-- Loop over each object in the projects array -->
{{#each Blogposts as |Blogpost| }}
  <div class = "post">
    <div class = "postHeader">
      <h2>{{title}}</h2>
      <p>{{date_created}}</p>
    </div>
    <div class = "postBody">
      <p>{{content}}</p>
    </div>
  </div>
{{/each}}
