<!-- Loop over each object in the projects array -->
{{#each Blogposts as |Blogpost| }}
  <div class = "post expandable"> <!-- expandable so that you can click it and view comments on post -->
    <div class = "postHeader">
      <h2>{{title}}</h2>
      <p>{{date_created}}</p>
    </div>
    <div class = "postBody">
      <p>{{content}}</p>
        <h2>new post</h2>
      <form id = "new-comment-form">
        <label for = "commentContent">comment content: </label>
        <textarea name = "commentContent" id = "commentContent" cols = "30" rows = "10"></textarea>
      </form>
      <button id = "new-comment-button">Submit Comment</button>
    </div>
  </div>
{{/each}}
<script src="./js/homepage.js"></script>