:root{
  --lightColor: #d9ead3;
  --darkColor: #25120c;
}

html{
  background-color: var(--lightColor);
  color: var(--darkColor);
}

header{
  background-color: var(--darkColor);
  color: var(--lightColor);
  padding-left: 3%;
}

.post{
  background-color: var(--lightColor);
  color: var(--darkColor);
  border: 1px solid var(--darkColor);
  border-radius: 5px;
  padding: 10px 10px 10px 3%;
  margin: 10px 0 10px 0;
}

.dashPost{
  .postContent, .editForm, .edit-post-button, .save-edit-button, .cancel-edit-button, .delete-post-button{
    display: none;
  }
}

.expanded{
  .postContent, .edit-post-button, .delete-post-button{
    display: block;
  }
}

.editing{
  .editForm, .cancel-edit-button, .save-edit-button{
    display: block;
  }
  .postContent, .title{
    display: none;
  }
}