:root{
  --lightColor: #d9ead3;
  --darkColor: #25120c;
}

html{
  background-color: var(--lightColor);
  color: var(--darkColor);
}

header{
  background-color: var(--darkColor);
  color: var(--lightColor);
  padding-left: 3%;
}

.post{
  background-color: var(--lightColor);
  color: var(--darkColor);
  border: 1px solid var(--darkColor);
  border-radius: 5px;
  padding: 10px 10px 10px 3%;
  margin: 10px 0 10px 0;
  .postBody{
    display: none;
  }
}

.postHeader{
  background-color: var(--darkColor);
  color: var(--lightColor);
  margin: 0 -1% 10px -3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashPost{
  .postContent, .editForm, .edit-post-button, .save-edit-button, .cancel-edit-button, .delete-post-button{
    display: none;
  }
}

.expanded{
  .postContent, .edit-post-button, .delete-post-button, .postBody{
    display: block;
  }
  .new-comment-form, .submit-comment-button, .cancel-comment-button{
    display: none;
  }
}

.editing{
  .editForm, .cancel-edit-button, .save-edit-button{
    display: block;
  }
  .postContent, .title{
    display: none;
  }
}

.commenting{
  .commentForm, .cancel-comment-button, .submit-comment-button{
    display: block;
  }
}